<link rel="stylesheet" href=" /css/add_to_cart.css">
<div class="cd-cart cd-cart--empty js-cd-cart">
<a class="cd-cart__trigger text-replace">
    <i class="fa fa-shopping-cart my-float"></i>
<ul class="cd-cart__count"> 
<li>0</li>
<li>0</li>
</ul> 
</a>
<div class="cd-cart__content">
<div class="cd-cart__layout">

<div class="cd-cart__body">
<ul>

</ul>
</div>
<footer class="cd-cart__footer">
<a href="" class="cd-cart__checkout">
<em>Checkout - $<span>0</span>
<svg class="icon icon--sm" viewBox="0 0 24 24">
    <g fill="none" stroke="currentColor">
        <line stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="3" y1="12" x2="21" y2="12">

        </line>
        <polyline stroke-width="2" stroke-linecap="round" stroke-linejoin="round" points="15,6 21,12 15,18 ">

        </polyline></g>
</svg>
</em>
</a>
</footer>
</div>
</div> 
</div> 
    
<script src=" /js/add_to_cart_asset.js"></script>
<script src=" /js/add_to_cart_util.js"></script>
