<!--footer area start-->
    <footer class="footer_widgets">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-7">
                        <div class="widgets_container contact_us">
                           <div class="footer_logo">
                               <a href="index.php.html"><img src=" /img/logo/logo.png" alt=""></a>
                           </div>
                           <p class="footer_desc">We deliver fresh fish and meat right to your doorstep .</p>
                            <p><span>Address:</span> 4710-4890 Perupuzha, Kollam</p>
                            <p><span>Email:</span> <a href="#">demo@hasthemes.com</a></p>
                            <p><span>Call us:</span> <a href="tel:(08)23456789">(08) 23 456 789</a> </p>
                        </div>          
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-5">
                        <div class="widgets_container widget_menu">
                            <h3>Information</h3>
                            <div class="footer_menu">
                            
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="#">Delivery Information</a></li>
                                    <li><a href="#"> Privacy Policy</a></li>
                                    <li><a href="#"> Terms & Conditions</a></li>
                                    <li><a href="contact.html"> Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-7">
                        <div class="copyright_area">
                            <p> Made with 
                            <!-- Heart Code Start -->
                                <svg width="25" height="25" viewBox="0 0 200 200">
                                    <g transform="translate(100 100)">
                                      <path transform="translate(-50 -50)" fill="red" d="M92.71,7.27L92.71,7.27c-9.71-9.69-25.46-9.69-35.18,0L50,14.79l-7.54-7.52C32.75-2.42,17-2.42,7.29,7.27v0 c-9.71,9.69-9.71,25.41,0,35.1L50,85l42.71-42.63C102.43,32.68,102.43,16.96,92.71,7.27z"></path>
                                      <animateTransform 
                                          attributeName="transform" 
                                          type="scale" 
                                          values="1; 1.5; 1.25; 1.5; 1.5; 1;" 
                                          dur="1s" 
                                          repeatCount="indefinite"
                                          additive="sum">      
                                      </animateTransform>
                                  </g>
                                </svg>
                            <!-- Heart Code End -->
                                by <a href="http://cybayz.in/">Cybayz</a>
                            </p>
                        </div>
                    </div>    
                    <div class="col-lg-6 col-md-5">    
                        <div class="footer_payment">
                            <div class="header_social text-right">
                                <ul>
                                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                    <li><a href="#"><i class="ion-social-googleplus-outline"></i></a></li>
                                    <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                    <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </footer>
    <!--footer area end-->