<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Safira – Organic food HTML Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href=" /img/favicon.ico">
    
    <!-- CSS 
    ========================= -->
    <!--bootstrap min css-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--owl carousel min css-->
    <link rel="stylesheet" href=" /css/owl.carousel.min.css">
    <!--slick min css-->
    <link rel="stylesheet" href=" /css/slick.css">
    <!--magnific popup min css-->
    <link rel="stylesheet" href=" /css/magnific-popup.css">
    <!--font awesome css-->
    <link rel="stylesheet" href=" /css/font.awesome.css">
    <!--ionicons css-->
    <link rel="stylesheet" href=" /css/ionicons.min.css">
    <!--linearicons css-->
    <link rel="stylesheet" href=" /css/linearicons.css">
    <!--animate css-->
    <link rel="stylesheet" href=" /css/animate.css">
    <!--jquery ui min css-->
    <link rel="stylesheet" href=" /css/jquery-ui.min.css">
    <!--slinky menu css-->
    <link rel="stylesheet" href=" /css/slinky.menu.css">
    <!--plugins css-->
    <link rel="stylesheet" href=" /css/plugins.css">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href=" /css/style.css">

    <!--modernizr min js here-->
    <script src=" /js/vendor/modernizr-3.7.1.min.js"></script>
</head>

<body>
   
    {{> header}}
    
    
    {{> slider}}

    {{> products }}
    {{> add_to_cart}}

    {{> footer }}
   
   {{!-- pop_up modal --}}
    {{> product_details}}
    
    
    

    
<!-- JS
============================================ -->
<!--jquery min js-->
<script src=" /js/vendor/jquery-3.4.1.min.js"></script>
<!--popper min js-->
<script src=" /js/popper.js"></script>
<!--bootstrap min js-->
<script src=" /js/bootstrap.min.js"></script>
<!--owl carousel min js-->
<script src=" /js/owl.carousel.min.js"></script>
<!--slick min js-->
<script src=" /js/slick.min.js"></script>
<!--magnific popup min js-->
<script src=" /js/jquery.magnific-popup.min.js"></script>
<!--counterup min js-->
<script src=" /js/jquery.counterup.min.js"></script>
<!--jquery countdown min js-->
<script src=" /js/jquery.countdown.js"></script>
<!--jquery ui min js-->
<script src=" /js/jquery.ui.js"></script>
<!--jquery elevatezoom min js-->
<script src=" /js/jquery.elevatezoom.js"></script>
<!--isotope packaged min js-->
<script src=" /js/isotope.pkgd.min.js"></script>
<!--slinky menu js-->
<script src=" /js/slinky.menu.js"></script>
<!--instagramfeed menu js-->
<script src=" /js/jquery.instagramFeed.min.js"></script>
<!-- Plugins JS -->
<script src=" /js/plugins.js"></script>

<!-- Main JS -->
<script src=" /js/main.js"></script>



</body>

</html>